# Power BI temporary/cache files
*.pbit
*.pbids
~$*.pbix

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment/secrets
.env
.env.*
